# Copy to terraform.tfvars and fill in. Do NOT commit real terraform.tfvars.
environment        = "prod"
region             = "eu-west-1"
vpc_cidr           = "10.30.0.0/16"
availability_zones = ["eu-west-1a", "eu-west-1b", "eu-west-1c"]
kubernetes_version = "1.30"

app_role_arns = [
  # "arn:aws:iam::123456789012:role/aelio-api",
]

acm_certificate_arn = "arn:aws:acm:eu-west-1:123456789012:certificate/REPLACE_ME"
waf_web_acl_arn     = null

dr_destination_region      = "us-east-1"
dr_destination_kms_key_arn = "arn:aws:kms:us-east-1:123456789012:key/REPLACE_ME"

pagerduty_endpoint = null
slack_endpoint     = null
